[submodule "day2/lib/forge-std"]
	path = day2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day3/lib/forge-std"]
	path = day3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day4/lib/forge-std"]
	path = day4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "day4/lib/openzeppelin-contracts"]
	path = day4/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DAY4/lib/forge-std"]
	path = DAY4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAY4/lib/openzeppelin-contracts"]
	path = DAY4/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "day5/lib/forge-std"]
	path = day5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
